<h1>Создание нового товара</h1><%= form_for @item do |f| %>
<p><%= f.label "Имя" %></p>
<p><%= f.text_field :name %></p>
<p><%= f.label "Описание" %></p>
<p><%= f.text_field :description %></p>
<p><%= f.label "Цена" %></p>
<p><%= f.text_field :price %></p>
<p><%= f.label "Вес" %></p>
<p><%= f.text_field :weight %></p>
<p><%= f.submit "Создать товар" %></p>
<% end %>
